.profile {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 40px;
}

.profile__title {
  margin: 0;
  color: black;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__input-cotainer {
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: #e8e8e8 1px solid;
}

.profile__input-cotainer:nth-child(3) {
  border-bottom: none;
}

.profile__input-label {
  width: 40px;
  color: black;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  width: 200px;
  min-height: 47px;
  padding: 0;
  border: none;
  text-align: end;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  transition: margin-right 0.1s linear;
}

.profile__input:focus {
  outline: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  margin-right: 5px;
}

.profile__input:disabled {
  background-color: white;
  color: black;
}

.profile__input::placeholder {
  color: grey;
}

.profile__input::-webkit-input-placeholder {
  color: grey;
}

.profile__input::-moz-placeholder {
  color: grey;
}

.profile__input::-ms-input-placeholder {
  color: grey;
}

.profile__button-edit {
  padding: 0;
  border: none;
  background-color: transparent;
  margin: 20px 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  transition: opacity 0.1s linear;
}

.profile__button-edit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__button-edit:active {
  opacity: 1;
}

.profile__button-exit {
  padding: 0;
  border: none;
  background-color: transparent;
  margin: 16px 0 0;
  color: #ff3055;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  transition: opacity 0.1s linear;
}

.profile__button-exit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__button-exit:active {
  opacity: 1;
}

.profile__text-error {
  min-height: 12px;
  color: #ff3055;
  align-self: end;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.profile__text-error_top {
  margin: 41px 0 10px;
}

.profile__text-error_bottom {
  margin: 10px 0 0;
}

.profile__text {
  min-height: 12px;
  margin: 309px 0 0;
  color: #ff3055;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.profile__text-response_green {
  color: #2be080;
}

.profile__button-back {
  align-self: flex-start;
  position: absolute;
  top: -35px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: #22aa62;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  transition: opacity 0.1s linear;
}

.profile__button-back:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile__button-back:active {
  opacity: 1;
}

.profile__button-save {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 260px;
  min-height: 45px;
  padding: 0;
  border: none;
  background-color: #22aa62;
  border-radius: 3px;
  margin: 342px 0 0;
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  transition: opacity 0.1s linear;
}

.profile__button-save:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__button-save:active {
  opacity: 1;
}

.profile__button-save_inactive {
  cursor: auto;
  color: #c2c2c2;
  background-color: #f8f8f8;
}

.profile__button-save_inactive:hover {
  cursor: auto;
  opacity: 1;
}

@media (min-width: 767px) {
  .profile {
    padding: 236px 0 269px;
  }

  .profile__input-cotainer {
    width: 410px;
  }
  .profile__input {
    width: 300px;
  }

  .profile__button-edit {
    margin: 20px 0 0;
    font-size: 13px;
    line-height: 16px;
  }

  .profile__button-exit {
    font-size: 13px;
    line-height: 16px;
  }

  .profile__text-error_top {
    margin: 84px 0 10px;
  }

  .profile__text {
    align-self: center;
    margin: 140px 0 0;
  }

  .profile__button-save {
    width: 410px;
    margin: 175px 0 0;
    font-size: 14px;
    line-height: 17px;
  }
}

@media (min-width: 1023px) {
  .profile {
    padding: 74px 0 70px;
  }

  .profile__text-error_top {
    margin: 84px 0 10px;
  }

  .profile__text {
    align-self: center;
    margin: 150px 0 0;
  }

  .profile__button-save {
    margin: 185px 0 0;
  }
}
