.promo {
  padding-top: 157px;
  padding-bottom: 42px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 493px;
}

@media screen and (max-width: 768px) {
  .promo {
    min-height: 834px;
    padding-top: 350px;
    padding-bottom: 39px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 500px) {
  .promo {
    min-height: 587px;
    padding-top: 221px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1300px) {
  .promo__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 800px) {
  .promo__container {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media screen and (max-width: 500px) {
  .promo__container {
    padding-left: 4px;
    padding-right: 7px;
  }
}

.promo__title {
  margin: 0px;
  max-width: 730px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  /* or 116% */

  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .promo__title {
    max-width: 680px;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.04em;
  }
}

@media screen and (max-width: 500px) {
  .promo__title {
    font-size: 29px;
    line-height: 37px;
    max-width: 292px;
  }
}
