.search {
  box-sizing: border-box;
  padding-top: 66px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 65px;
}

@media screen and (max-width: 768px) {
  .search {
    padding-top: 77px;
    padding-right: 22px;
    padding-left: 21px;
    padding-bottom: 65px;
  }
}

@media screen and (max-width: 500px) {
  .search {
    padding-top: 88px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 35px;
  }
}

.search__form {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .search__form {
    margin-bottom: 110px;
  }
}

@media screen and (max-width: 570px) {
  .search__form {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .search__form {
    margin-bottom: 17px;
  }
}

.form__group-find {
  display: flex;
  align-items: center;
  align-self: center;
  padding-left: 25px;
  padding-right: 30px;
  height: 72px;
  width: 100%;
  background-color: #f9f9f9;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

@media screen and (max-width: 768px) {
  .form__group-find {
    padding-right: 19px;
    padding-left: 26px;
    width: 66%;
  }
}

@media screen and (max-width: 500px) {
  .form__group-find {
    width: 91%;
    padding-right: 5px;
    padding-left: 5px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    margin-bottom: 20px;
  }
}

.search-form__lupa {
  height: 15px;
  width: 22px;
  background-color: #f9f9f9;
}

@media screen and (max-width: 500px) {
  .search-form__lupa {
    display: none;
  }
}

.search-form__input {
  box-sizing: border-box;
  margin-left: 13px;
  margin-right: auto;
  width: 70%;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  border: none;
  background: #f9f9f9;
  outline: none;
}

@media screen and (max-width: 500px) {
  .search-form__input {
    font-weight: 400;
    font-size: 14px;
    margin-left: 0;
    text-align: start;
  }
}

.search-form__find {
  padding: 0;
  background-color: transparent;
  background-image: url("./../../image/find.svg");
  background-repeat: no-repeat;
  height: 34px;
  width: 34px;
  border: none;
}

@media screen and (max-width: 768px) {
  .search-form__find {
    margin-right: 2px;
  }
}

.form__group-checkbox {
  display: flex;
  padding-right: 30px;
  align-items: center;
  align-self: center;
  height: 72px;
  background-color: #f9f9f9;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

@media screen and (max-width: 768px) {
  .form__group-checkbox {
    padding-right: 20px;
  }
}

@media screen and (max-width: 570px) {
  .form__group-checkbox {
    padding: 0;
    background-color: white;
  }
}

@media screen and (max-width: 570px) {
  .search-form__border {
    display: none;
  }
}

.checkbox {
  position: relative;
  opacity: 0;
}
.checkbox + .checkbox__lable {
  position: relative;
  cursor: pointer;
  padding: 0 0 0 60px;
  align-self: center;
  margin-right: -10px;
  margin-top: -13px;
  margin-left: 16px;
}

@media screen and (max-width: 768px) {
  .checkbox + .checkbox__lable {
    margin-right: -21px;
  }
}

.checkbox + .checkbox__lable:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 36px;
  height: 20px;
  border-radius: 13px;
  background: #ebebeb;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}

@media screen and (max-width: 768px) {
  .checkbox + .checkbox__lable:before {
    left: -11px;
  }
}

@media screen and (max-width: 570px) {
  .checkbox + .checkbox__lable:before {
    left: -9px;
  }
}

.checkbox + .checkbox__lable:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}

@media screen and (max-width: 768px) {
  .checkbox + .checkbox__lable:after {
    left: -8px;
  }
}

@media screen and (max-width: 570px) {
  .checkbox + .checkbox__lable:after {
    left: -6px;
  }
}

.checkbox:checked + .checkbox__lable:before {
  background: #006cfa;
}
.checkbox:checked + .checkbox__lable:after {
  left: 18px;
}

@media screen and (max-width: 768px) {
  .checkbox:checked + .checkbox__lable:after {
    left: 6px;
  }
}

@media screen and (max-width: 570px) {
  .checkbox:checked + .checkbox__lable:after {
    left: 8px;
  }
}

#box:checked + .checkbox__lable:before {
  background: #2be080;
}

.checkbox__lable-text {
  margin: 0;
  align-self: center;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 138% */

  color: #000000;
}

@media screen and (max-width: 570px) {
  .checkbox__lable-text {
    margin-right: 17px;
    font-size: 11px;
    line-height: 18px;
  }
}

.serch__border {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}
