.header {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 71px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 31px;
    padding-right: 28px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 10px;
  }
}

.header__info {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 500px) {
  .header__info {
    gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .header__info {
    margin: 0;
  }
}
.header__logo {
  margin-top: 5px;
  margin-right: 28px;
}

.header__link-signup {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin-right: 30px;
  margin-top: 8px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header__link-signup {
    margin-right: 14px;
    margin-top: 3px;
  }
}

@media screen and (max-width: 500px) {
  .header__link-signup {
    font-size: 10px;
  }
}

.header__link-signin {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 20px;
  background: #2be080;
  border-radius: 3px;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .header__link-signin {
    font-size: 10px;
    padding: 8px 13px;
  }
}

.header__link-movies {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 138% */

  text-align: right;

  color: #000000;
}

.header__link-profile {
  margin-top: 10px;
  margin-right: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
}
