.header {
  display: flex;
  padding-top: 14px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 71px;
  align-items: flex-start;
}

@media screen and (max-width: 800px) {
  .header {
    padding-left: 35px;
    padding-right: 45px;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 10px;
  }
}

.header__logo {
  margin-right: 45px;
}
