.about-techs {
  padding: 102px 70px;
  display: flex;
  flex-direction: column;
}

.about-techs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 91px;
}

.about-techs__title {
  margin: 0;
}

.about-techs__subtitle {
  margin: 0;
  margin-bottom: 25px;
  max-width: 600px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  margin-bottom: 25px;
}

.about-techs__text {
  margin: 0;
  max-width: 460px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
}

.about-techs__list-technology {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 100px;
  padding-left: 0;
  text-decoration: none;
  list-style-type: none;
}

.list-technology__element {
  margin: 0;
  padding-top: 21px;
  padding-bottom: 22px;
  width: 90px;
  box-sizing: border-box;
  background-color: #e8e8e8;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
}
